@charset "UTF-8";

	/* 設定變數統一的資訊 (色彩、數據、字體) */
	:root {
	  /* 主要 */
	  --c-nav-10: rgb(0, 183, 255);
	  --c-nav-05: rgba(0, 183, 255, 0.5);
	  --c-nav-00: rgba(0, 183, 255, 0.0);
	
	  /*上+32, 上+03, 上+32  */
	  --c-assist1-10: rgba(35, 186, 223, 1.0);
	  --c-assist1-07: rgba(35, 186, 223, 0.7);
	
	  /*上+26, 上+17, 上+30 */
	  --c-assist2-10: rgba(51, 203, 193, 1.0);
	  --c-assist2-03: rgba(51, 203, 193, 0.3);
	  --c-assist2-01: rgba(51, 203, 193, 0.1);
	  --c-assist2-00: rgba(51, 203, 193, 0.0);
	
	  --c-point: red;
	
	  /* 使用中文、英文,如果都無就變成襯線字體 */
	  --f-family-1: "Righteous", "Noto Sans TC", sans-serif;
	}
	
	/* 配合字體的class ==================================== */
	/* 英文字體 */
	.righteous {
	  font-family: "Righteous", sans-serif;
	}
	
	/* 中文字體 */
	.noto-sans {
	  font-family: "Noto Sans TC", sans-serif;
	}
	
	/* 字體組合成一起,名字各取一部分,英文要放前面中文放後面,字體電腦的無襯線字體sans-serif*/
	.rigt-noto {
	  font-family: "Righteous", "Noto Sans TC", sans-serif;
	}
	
	
	/* 整體預設 & 跨區共用 ==================================== */
	* {
	  margin: 0;
	  box-sizing: border-box;
	}
	
	body {
	  font-family: Arial, sans-serif;
	  margin: 0;
	  padding: 0;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  height: 100vh;
	  background: linear-gradient(
        90deg, 
        var(--c-assist2-10), 
        var(--c-assist1-10), 
        var(--c-assist2-10)
      );
	}
	
	.background-container {
	  width: 100%;
	  height: 100%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
	
	.login-container {
	  background-color: #fff;
	  padding: 40px; /* 調整padding */
	  border-radius: 5px;
	  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	  width: 400px; /* 調整寬度 */
	}
	
	h2 {
	  margin-top: 0;
	  text-align: center;
	}
	
	.form-group {
	  margin-bottom: 20px; /* 調整間距 */
	}
	
	label {
	  display: block;
	  font-weight: bold;
	  margin-bottom: 5px; /* 調整間距 */
	}
	
	input[type="email"], /* 修改type為email */
	input[type="password"],
	input[type="text"] {
	  width: 100%;
	  padding: 10px;
	  border: 1px solid #ccc;
	  border-radius: 3px;
	  box-sizing: border-box; /* 確保padding不影響元素總寬度 */
	}
	

	button {
	  width: 100%;
	  padding: 10px;
	  background-color: #1a87fc;
	  color: #fff;
	  border: none;
	  border-radius: 3px;
	  cursor: pointer;
	  transition: background-color 0.3s;
	}
	
	button:hover {
	  background-color: #0056b3;
	}
	
	.forgot-password {
	  color: #007bff;
	  text-decoration: none;
	}
	
	.forgot-password:hover {
	  text-decoration: underline;
	}
	
	.register-link {
	  text-align: center;
	  margin-top: 15px;
	}
	
	.register-link a {
	  color: #007bff;
	  text-decoration: none;
	}
	
	.register-link a:hover {
	  text-decoration: underline;
	}
	
	.form-group-checkbox {
	  display: flex;
	  align-items: center;
	}
	
	.form-group-checkbox label {
	  margin-right: 10px;
	}
	
	.form-group-checkbox .forgot-password {
	  margin-left: auto;
	}
	
	/* 驗證碼 */
	.captcha-container {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	}
	
	.captcha-container input {
	  flex: 1;
	}
	
	.captcha-container img {
	  margin-left: 10px;
	  height: 40px;
	  cursor: pointer; /* 可以添加這個樣式讓圖片看起來可以點擊 */
	}
	
	/* SweetAlert2 提示框 */
	.swal2-container {
	  position: fixed !important;
	  top: 50% !important;
	  left: 50% !important;
	  transform: translate(-50%, -50%) !important;
	  z-index: 9999 !important; /* 保證彈窗在最上層 */
	  width: 100vw;
	  height: 100vh;
	}
	
	/* 登入介面 */
	.login-container {
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}